
@mixin backgroundImg ($url) {
  background: url($url) no-repeat 50% 50%;
  background-size: contain;
}

@mixin flex ($justify: space-between, $align: center, $flow: row nowrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-flow: $flow;
}

@keyframes fadeIn  {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
