<template>
  <!-- <web-view :src="url" @message="getMessage" @load="doneLoad" @error="getError"></web-view> -->
  <web-view :src="url + '#wechat_redirect'" @message="getMessage" @load="doneLoad" @error="getError"></web-view>
</template>

<script>

export default {
  data () {
    return {
      url: 'https://sea.focusone.cc/'
    };
  },
  mounted  () {
    // this.$wxUtils.loading({title: '加载中...'});
    if (this.$route.query.url) {
      this.url = decodeURIComponent(this.$route.query.url);
    }
  },
  onShareAppMessage (options) {
    return {
      title: '原参产品',
      path: '/pages/index/index?url=' + encodeURIComponent(options.webViewUrl),
      success: function (res) {
      }
    };
  },
  methods: {
    getMessage (e) {
      console.log('页面返回数据', e);
    },

    doneLoad () {
      console.log('加载完成');
    },

    getError () {
      console.log('错误');
    }
  }
};
</script>

<style scoped lang="scss">
</style>
