<template>
  <div class="payment">
  </div>
</template>
<script>
  import WxNetwork from '@/network/network.wx';

  export default {

    data () {
      return {
        orderId: '',
        payParams: ''
      };
    },
    mounted () {
      let params = this.$route.query;
      if (params.orderId) {
        this.orderId = params.orderId;
        this.getpaymentPrams();
      }
    },
    methods: {
      getpaymentPrams () {
        this.$wxUtils.loading({title: '加载中...'});
        this.$network.base.getPaymentParams({
          orderId: this.orderId,
          openid: this.$storage.get(this.$storageTypeName.openid).openid
        }).then(res => {
          this.$wxUtils.loading({show: false});
          // console.log(res);
          this.payParams = res;
          this.payment();
        });
      },

      payment () {
        WxNetwork.wxPayment(this.payParams, this.updateOrder);
      },

      updateOrder (e) {
        if (e.status) {
          let text = 'https://sea.focusone.cc/order/pay_result/?out_trade_no=' + this.orderId;
          this.$router.replace({path: '/pages/index/index', query: {url: encodeURIComponent(text)}});
        } else {
          this.$router.back();
        }
      }
    }
  };
</script>
<style lang="scss" scoped>

</style>
